<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Movie</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="http://720kb.github.io/csshelper/assets/ext/src/helper.css">
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>
<body bgcolor="black">
  
</body>
</html>

<div class="movie_card" id="bright">
  <div class="info_section">
    <div class="movie_header">
      <a [routerLink]="['/single']"><img class="locandina" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQuo34ftJgvIsxo5DubFAUFC-FIgor8x-u0xA&usqp=CAU" /></a>
      <h1>Demon Slayer</h1>
      <h4>2019, Kyouharu Gotouge</h4>
      <span class="minutes">24 Ep</span>
      <p class="type">Demon, Action, Fantasy</p>
    </div>
    <div class="movie_desc">
      <p class="text">
        It follows Tanjiro Kamado, a young boy who becomes a demon slayer after his family is slaughtered and his younger sister Nezuko is turned into a demon.
      </p>
    </div>
    <div class="movie_social">
      <ul>
        <li>

          <a id="tw" class="fa fa-twitter" href="https://twitter.com/compose/tweet?text=Check this movie review&url=on reviews website @" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=no,scrollbars=no,height=500,width=600');return false;"></a>
        </li>
        <li> <a id="tw" class="fa fa-reddit-alien" href="https://www.reddit.com/submit?text=Check this website&url=movie ka review ekdum mast he...!!" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=no,scrollbars=no,height=500,width=600');return false;"></a></li>
        <li>
          <input id="toggle-heart1" type="checkbox" />
          <label for="toggle-heart1" aria-label="like">❤</label>
        </li>
        <li><i class="fa fa-arrow-circle-o-right"></i></li>
      </ul>
    </div>
  </div>
  <div class="blur_back bright_back"></div>
</div>

<div class="movie_card" id="tomb">
  <div class="info_section">
    <div class="movie_header">
      <a [routerLink]="['/single']"><img class="locandina" src="https://assets.mycast.io/posters/high-school-dxd-live-action-tv-series-fan-casting-poster-24108-large.jpg?1577908602" /></a>
      <h1>High School dxd</h1>
      <h4>2015, Roar Uthaug</h4>
      <span class="minutes">125 min</span>
      <p class="type">Action, Fantasy</p>
    </div>
    <div class="movie_desc">
      <p class="text">
        The story centers on Issei Hyodo, a perverted high school student from Kuoh Academy who desires to be a harem king and is killed by his first date, revealed to be a fallen angel, but is later revived as a devil by Rias Gremory to serve her and her devil family. Issei's deepening relationship with Rias proves dangerous to the angels, the fallen angels, and the devils.
      </p>
    </div>
    <div class="movie_social">
      <ul>
        <li>

          <a id="tw" class="fa fa-twitter" href="https://twitter.com/compose/tweet?text=Check this movie review&url=on reviews website @" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=no,scrollbars=no,height=500,width=600');return false;"></a>
        </li>
        <li> <a id="tw" class="fa fa-reddit-alien" href="https://www.reddit.com/submit?text=Check this website&url=movie ka review ekdum mast he...!!" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=no,scrollbars=no,height=500,width=600');return false;"></a></li>
        <li>
          <input id="toggle-heart" type="checkbox" />
          <label for="toggle-heart" aria-label="like">❤</label>
        </li>
        <li><i class="fa fa-arrow-circle-o-right"></i></li>
      </ul>
    </div>
  </div>
  <div class="blur_back tomb_back"></div>
</div>

<div class="movie_card" id="ave">
  <div class="info_section">
    <div class="movie_header">
      <a [routerLink]="['/single']"><img class="locandina" src="https://m.media-amazon.com/images/M/MV5BZmQ5NGFiNWEtMmMyMC00MDdiLTg4YjktOGY5Yzc2MDUxMTE1XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_.jpg" /></a>
      <h1>Naruto</h1>
      <h4>2001, Mashashi Kishimoto</h4>
      <span class="minutes">134 min</span>
      <p class="type">Action, Adventure, Sci-Fi</p>
    </div>
    <div class="movie_desc">
      <p class="text">
        It tells the story of Naruto Uzumaki, a young ninja who seeks recognition from his peers and dreams of becoming the Hokage, the leader of his village.
      </p>
    </div>
    <div class="movie_social">
      <ul>
        <li>

          <a id="tw" class="fa fa-twitter" href="https://twitter.com/compose/tweet?text=Check this movie review&url=on reviews website @" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=no,scrollbars=no,height=500,width=600');return false;"></a>
        </li>
        <li> <a id="tw" class="fa fa-reddit-alien" href="https://www.reddit.com/submit?text=Check this website&url=movie ka review ekdum mast he...!!" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=no,scrollbars=no,height=500,width=600');return false;"></a></li>
        <li>
          <input id="toggle-heart" type="checkbox" />
          <label for="toggle-heart" aria-label="like">❤</label>
        </li>
        <li><i class="fa fa-arrow-circle-o-right"></i></li>
      </ul>
    </div>
  </div>
  <div class="blur_back ave_back"></div>
</div>
