
<h1 style="text-align: center; color: white;">Our Team</h1>
<div class="container">

    
    <div class="main">
        <div class="front">
            <i class="fa fa-user fa-5x icon"></i>
            <div class="">Tushar Chhugani</div>
            <div class="data-wrapper">
                <div class="circle"><i class="fa fa-code"></i></div>
                <div class="data">
                    <span class="title">Student</span>
                    <p>Work: Review/Home Page/Team </p>
                </div>
            </div>
        </div>
        <div class="back">
            <div class="skills">
                <h2>Info.</h2>
                <div class="skill-ele">
                   
                    <span class="tech">SYBCA</span>
                </div>
               <div class="skill-ele">
                  
                    <span class="tech">B-division</span>
                </div>
                <div class="skill-ele">
                  
                    <span class="tech">E No.: 201900319010107</span>
                </div>
                <div class="skill-ele">
                  
                    <span class="tech">Angular</span>
                </div>
            </div>
            <div class="social">
                <i class="fa fa-2x fa-github" id="social"></i>
                <i class="fa fa-2x fa-linkedin-square" id="social"></i>
                <i class="fa fa-2x fa-codepen" id="social"></i>
                <i class="fa fa-2x fa-twitter-square" id="social"></i>
                <i class="fa fa-2x fa-facebook-square" id="social"></i>
            </div>
        </div>
    </div>

    
    <div class="main">
        <div class="front">
            <i class="fa fa-user fa-5x icon"></i>
            <div class="">Anurag Sharma</div>
            <div class="data-wrapper">
                <div class="circle"><i class="fa fa-code"></i></div>
                <div class="data">
                    <span class="title">Student</span>
                    <p>Work: Review/Home Page/Contact</p>
                </div>
            </div>
        </div>
        <div class="back">
            <div class="skills">
                <h2>Info.</h2>
                <div class="skill-ele">
                   
                    <span class="tech">SYBCA</span>
                </div>
               <div class="skill-ele">
                  
                    <span class="tech">B-division</span>
                </div>
                <div class="skill-ele">
                  
                    <span class="tech">E No.: 201900319010165</span>
                </div>
                <div class="skill-ele">
                  
                    <span class="tech">Angular</span>
                </div>
            </div>
            <div class="social">
                <i class="fa fa-2x fa-github" id="social"></i>
                <i class="fa fa-2x fa-linkedin-square" id="social"></i>
                <i class="fa fa-2x fa-codepen" id="social"></i>
                <i class="fa fa-2x fa-twitter-square" id="social"></i>
                <i class="fa fa-2x fa-facebook-square" id="social"></i>
            </div>
        </div>
    </div>
    

    <div class="main">
        <div class="front">
            <i class="fa fa-user fa-5x icon"></i>
            <div class="">Noman Ajmeri</div>
            <div class="data-wrapper">
                <div class="circle"><i class="fa fa-code"></i></div>
                <div class="data">
                    <span class="title">Student</span>
                    <p>Work: Login/SignUp Page</p>
                </div>
            </div>
        </div>
        <div class="back">
            <div class="skills">
                <h2>Info.</h2>
                <div class="skill-ele">
                   
                    <span class="tech">SYBCA</span>
                </div>
               <div class="skill-ele">
                  
                    <span class="tech">B-division</span>
                </div>
                <div class="skill-ele">
                  
                    <span class="tech">E No.: 201900319010092</span>
                </div>
                <div class="skill-ele">
                  
                    <span class="tech">Angular</span>
                </div>
            </div>
            <div class="social">
                <i class="fa fa-2x fa-github" id="social"></i>
                <i class="fa fa-2x fa-linkedin-square" id="social"></i>
                <i class="fa fa-2x fa-codepen" id="social"></i>
                <i class="fa fa-2x fa-twitter-square" id="social"></i>
                <i class="fa fa-2x fa-facebook-square" id="social"></i>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="front">
            <i class="fa fa-user fa-5x icon"></i>
            <div class="">Prince Lolliyana</div>
            <div class="data-wrapper">
                <div class="circle"><i class="fa fa-code"></i></div>
                <div class="data">
                    <span class="title">Student</span>
                    <p>Work: Footer/Concept-Ideas </p>
                </div>
            </div>
        </div>
        <div class="back">
            <div class="skills">
                <h2>Info.</h2>
                <div class="skill-ele">
                   
                    <span class="tech">SYBCA</span>
                </div>
               <div class="skill-ele">
                  
                    <span class="tech">B-division</span>
                </div>
                <div class="skill-ele">
                  
                    <span class="tech">E No.: 201900319010125</span>
                </div>
                <div class="skill-ele">
                  
                    <span class="tech">Angular</span>
                </div>
            </div>
            <div class="social">
                <i class="fa fa-2x fa-github" id="social"></i>
                <i class="fa fa-2x fa-linkedin-square" id="social"></i>
                <i class="fa fa-2x fa-codepen" id="social"></i>
                <i class="fa fa-2x fa-twitter-square" id="social"></i>
                <i class="fa fa-2x fa-facebook-square" id="social"></i>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="front">
            <i class="fa fa-user fa-5x icon"></i>
            <div class="">Mahesh Thakor</div>
            <div class="data-wrapper">
                <div class="circle"><i class="fa fa-code"></i></div>
                <div class="data">
                    <span class="title">Student</span>
                    <p>Work: Design</p>
                </div>
            </div>
        </div>
        <div class="back">
            <div class="skills">
                <h2>Info.</h2>
                <div class="skill-ele">
                   
                    <span class="tech">SYBCA</span>
                </div>
               <div class="skill-ele">
                  
                    <span class="tech">B-division</span>
                </div>
                <div class="skill-ele">
                  
                    <span class="tech">E No.: 201900319010179</span>
                </div>
                <div class="skill-ele">
                  
                    <span class="tech">Angular</span>
                </div>
            </div>
            <div class="social">
                <i class="fa fa-2x fa-github" id="social"></i>
                <i class="fa fa-2x fa-linkedin-square" id="social"></i>
                <i class="fa fa-2x fa-codepen" id="social"></i>
                <i class="fa fa-2x fa-twitter-square" id="social"></i>
                <i class="fa fa-2x fa-facebook-square" id="social"></i>
            </div>
        </div>
    </div>

</div>