



<div class="container">

	
	<div class="movie-card">
		<div class="movie-header manOfSteel">
			<div class="header-icon-container">
				<a href="#">
					
				</a>
			</div>
		</div>
		<div class="movie-content">
			<div class="movie-content-header">
				<a href="#">
					<h3 class="movie-title">Man of Steel</h3>
				</a>
				<div class="logo"></div>
			</div>
			<div class="movie-info">
				<div class="info-section">
					<label>Release date</label>
					<span>8-Sept-2020</span>
				</div>
				<div class="info-section">
					<label>Rating</label>
					<span>7.2/10</span>
				</div>
				<div class="info-section">
					<label>Result</label>
					<span>Hit</span>
				</div>
				<div class="info-section">
					<label>view more</label>
					<span><i class="fa fa-arrow-circle-o-right" style="font-size: large;" id="raju"></i></span>
				</div>
			</div>
		</div>
    </div>
    <div class="movie-card">
		<div class="movie-header manOfSteel">
			<div class="header-icon-container">
				<a href="#">
					
				</a>
			</div>
		</div>
		<div class="movie-content">
			<div class="movie-content-header">
				<a href="#">
					<h3 class="movie-title">Man of Steel</h3>
				</a>
				<div class="logo"></div>
			</div>
			<div class="movie-info">
				<div class="info-section">
					<label>Release date</label>
					<span>8-Sept-2020</span>
				</div>
				<div class="info-section">
					<label>Rating</label>
					<span>7.2/10</span>
				</div>
				<div class="info-section">
					<label>Result</label>
					<span>Hit</span>
				</div>
				<div class="info-section">
					<label>view more</label>
					<span><i class="fa fa-arrow-circle-o-right" style="font-size: large;" id="raju"></i></span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="movie-card">
		<div class="movie-header babyDriver">
			<div class="header-icon-container">
				<a href="#">
					
				</a>
			</div>
		</div>
		<div class="movie-content">
			<div class="movie-content-header">
				<a href="#">
					<h3 class="movie-title">Baby Driver</h3>
				</a>
				<div class="logo"></div>
			</div>
			<div class="movie-info">
				<div class="info-section">
					<label>Release date</label>
					<span>8-Sept-2020</span>
				</div>
				<div class="info-section">
					<label>Rating</label>
					<span>7.2/10</span>
				</div>
				<div class="info-section">
					<label>Result</label>
					<span>Hit</span>
				</div>
				<div class="info-section">
                    <label>view more</label>
					<span><i class="fa fa-arrow-circle-o-right" style="font-size: large;" id="raju"></i></span>
				</div>
			</div>
		</div>
    </div>
    
    
	
	<div class="movie-card">
		<div class="movie-header theDarkTower">
			<div class="header-icon-container">
				<a href="#">
					
				</a>
			</div>
		</div><!--movie-header-->
		<div class="movie-content">
			<div class="movie-content-header">
				<a href="#">
					<h3 class="movie-title">The Dark Tower</h3>
				</a>
				<div class="logo"></div>
			</div>
            <div class="movie-info">
				<div class="info-section">
					<label>Release date</label>
					<span>8-Sept-2020</span>
				</div>
				<div class="info-section">
					<label>Rating</label>
					<span>7.2/10</span>
				</div>
				<div class="info-section">
					<label>Result</label>
					<span>Hit</span>
				</div>
				<div class="info-section">
                    <label>view more</label>
					<span><i class="fa fa-arrow-circle-o-right" style="font-size: large;" id="raju"></i></span>
				</div>
			</div>
		</div>
	</div>
	
	<div class="movie-card">
		<div class="movie-header bladeRunner2049">
			<div class="header-icon-container">
				<a href="#">
					
				</a>
			</div>
		</div>
		<div class="movie-content">
			<div class="movie-content-header">
				<a href="#">
					<h3 class="movie-title">Blade Runner</h3>
				</a>
				<div class="logo"></div>
			</div>
			<div class="movie-info">
				<div class="info-section">
					<label>Release date</label>
					<span>8-Sept-2020</span>
				</div>
				<div class="info-section">
					<label>Rating</label>
					<span>7.2/10</span>
				</div>
				<div class="info-section">
					<label>Result</label>
					<span><p style="color: red; font-weight: bold;">Hit</p></span>
				</div>
				<div class="info-section">
                    <label>view more</label>
					<span><i class="fa fa-arrow-circle-o-right" style="font-size: large;" id="raju"></i></span>
				</div>
			</div>
        </div>
        

        
        
	</div>
	
</div>