

<div class="accordion">
    <h2>CATEGORIES</h2>
	<ul>
		<li>
            <div class="image">
                <div class="image_title">
                    <a href="#">Movies</a>
                </div>
                <div class="edit" style="font-size: 80px;"><a href="#"><i class="fa fa-film"></i></a></div>
        
            <img src="https://cdn.suwalls.com/wallpapers/movies/iron-man-standing-in-the-smoke-53426-1920x1080.jpg" alt="GOG2_640x320" border="0"  width="640px" height="320px">
            
        </div>
		</li>
		<li>
            <div class="image">
                <div class="image_title">
                    <a href="#">TV Show</a>
                </div>
               
                <div class="edit" style="font-size: 80px;"><a href="#"><i class="fa fa-desktop"></i></a></div>
            <img src="https://hdwallsource.com/img/2020/8/the-witcher-tv-show-background-wallpaper-70103-72473-hd-wallpapers.jpg" alt="GOG2_640x320" border="0"  width="640px" height="320px">
            
        </div>
		</li>
		<li>
			
            <div class="image">
                <div class="image_title">
                    <a href="#">Games</a>
                </div>
                <div class="edit" style="font-size: 80px;"><a href="#"><i class="fa fa-gamepad"></i></a></div>
        
            <img src="https://wallpaperaccess.com/full/370110.jpg" alt="GOG2_640x320" border="0"  width="640px" height="320px">
            
        </div>
		</li>
		<li>
            <div class="image">
                <div class="image_title">
                    <a href="#">Anime</a>
                </div>
                <div class="edit" style="font-size: 80px;"><a href="#"><i class="fa fa-github-alt"></i></a></div>
        
            <img src="https://c4.wallpaperflare.com/wallpaper/310/639/794/death-note-ryuk-anime-wallpaper-preview.jpg" alt="GOG2_640x320" border="0"  width="640px" height="320px">
            
        </div>
		</li>
		<li>
            <div class="image">
                <div class="image_title">
                    <a href="#">Documentaries</a>
                </div>
                <div class="edit" style="font-size: 80px;"><a href="#"><i class="fa fa-file-video-o"></i></a></div>
        
            <img src="https://cdn.hipwallpaper.com/i/69/60/KuvJ4l.jpg" alt="GOG2_640x320" border="0"  width="640px" height="320px">
            
        </div>
		</li>
	</ul>
</div>