html {
  background: #f5f7f8;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  padding: 20px 0;
}

header {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
}

.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

@media (min-width: 30em) {
  .band {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 60em) {
  .band {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background-color: white ;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
}

  .card:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    box-shadow: 0px 10px 25px red;
  }
  

  .card article {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .card h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
  }

  .card p {
    flex: 1;
    line-height: 1.4;
  }

  .card span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 2em 0 0 0;
  }

  .card .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
  }

@media (min-width: 60em) {
  .item-1 {
    grid-column: 1 / span 2;
  }

    .item-1 h1 {
      font-size: 24px;
    }
}

.site-footer {
  background-color: #34495e;
  text-align: center;
  margin: 10px 0;
  padding: 10px 0;
  
}



/*Social Media Icons*/


.social-wrapper_team {
  text-align: right;
  right: 10px;
}

  .social-wrapper ul li {
    display: inline;
    margin: 0 4px;
  }

.twitter-icon,
.facebook-icon,
.instagram-icon,
.linkedin-icon,
.googleplus-icon,
.youtube-icon,
.foursquare-icon {
  margin-top: .625em;
  font-size: x-large;
  color: white;
}

  .twitter-icon:hover,
  .facebook-icon:hover,
  .instagram-icon:hover,
  .linkedin-icon:hover,
  .googleplus-icon:hover,
  .youtube-icon:hover,
  .foursquare-icon:hover {
   
    
    font-size:xx-large;
    color:red;/* For IE8 and earlier */
    transition: 0.5s all ease;
  }

.footer-nav p {
  text-align: center;
}


