<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Movie</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="http://720kb.github.io/csshelper/assets/ext/src/helper.css">
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>
<body bgcolor="black">

</body>
</html>

<div class="movie_card" id="bright">
  <div class="info_section">
    <div class="movie_header">
      <a [routerLink]="['/single']"><img class="locandina" src="https://upload.wikimedia.org/wikipedia/en/a/ae/Taylor_Swift_-_Miss_Americana.jpg" /></a>
      <h1>Miss Americana</h1>
      <h4>2019, Taylor Swift</h4>
      <span class="minutes">117 min</span>
      <p class="type">Action, Crime, Fantasy</p>
    </div>
    <div class="movie_desc">
      <p class="text">
        Set in a world where fantasy creatures live side by side with humans. A human cop is forced to work with an Orc to find a weapon everyone is prepared to kill for.
      </p>
    </div>
    <div class="movie_social">
      <ul>
        <li>

          <a id="tw" class="fa fa-twitter" href="https://twitter.com/compose/tweet?text=Check this movie review&url=on reviews website @" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=no,scrollbars=no,height=500,width=600');return false;"></a>
        </li>
        <li> <a id="tw" class="fa fa-reddit-alien" href="https://www.reddit.com/submit?text=Check this website&url=movie ka review ekdum mast he...!!" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=no,scrollbars=no,height=500,width=600');return false;"></a></li>
        <li>
          <input id="toggle-heart1" type="checkbox" />
          <label for="toggle-heart1" aria-label="like">❤</label>
        </li>
        <li><i class="fa fa-arrow-circle-o-right"></i></li>
      </ul>
    </div>
  </div>
  <div class="blur_back bright_back"></div>
</div>

<div class="movie_card" id="tomb">
  <div class="info_section">
    <div class="movie_header">
      <a [routerLink]="['/single']"><img class="locandina" src="https://pbs.twimg.com/profile_images/723063700966395904/alv3tTL7_400x400.jpg" /></a>
      <h1>Baburao - One Man Army</h1>
      <h4>2021, Raju and Shyam</h4>
      <span class="minutes">125 min</span>
      <p class="type">Action, Fantasy</p>
    </div>
    <div class="movie_desc">
      <p class="text">
        Lara Croft, the fiercely independent daughter of a missing adventurer, must push herself beyond her limits when she finds herself on the island where her father disappeared.
      </p>
    </div>
    <div class="movie_social">
      <ul>
        <li>

          <a id="tw" class="fa fa-twitter" href="https://twitter.com/compose/tweet?text=Check this movie review&url=on reviews website @" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=no,scrollbars=no,height=500,width=600');return false;"></a>
        </li>
        <li> <a id="tw" class="fa fa-reddit-alien" href="https://www.reddit.com/submit?text=Check this website&url=movie ka review ekdum mast he...!!" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=no,scrollbars=no,height=500,width=600');return false;"></a></li>
        <li>
          <input id="toggle-heart" type="checkbox" />
          <label for="toggle-heart" aria-label="like">❤</label>
        </li>
        <li><i class="fa fa-arrow-circle-o-right"></i></li>
      </ul>
    </div>
  </div>
  <div class="blur_back tomb_back"></div>
</div>

<div class="movie_card" id="ave">
  <div class="info_section">
    <div class="movie_header">
      <a [routerLink]="['/single']"><img class="locandina" src="https://upload.wikimedia.org/wikipedia/en/4/43/Michael_Jackson%27s_This_Is_It_Poster.JPG" /></a>
      <h1>Michael Jackson's This Is It</h1>
      <h4>2018, Ryan Coogler</h4>
      <span class="minutes">134 min</span>
      <p class="type">Action, Adventure, Sci-Fi</p>
    </div>
    <div class="movie_desc">
      <p class="text">
        T'Challa, the King of Wakanda, rises to the throne in the isolated, technologically advanced African nation, but his claim is challenged by a vengeful outsider who was a childhood victim of T'Challa's father's mistake.
      </p>
    </div>
    <div class="movie_social">
      <ul>
        <li>

          <a id="tw" class="fa fa-twitter" href="https://twitter.com/compose/tweet?text=Check this movie review&url=on reviews website @" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=no,scrollbars=no,height=500,width=600');return false;"></a>
        </li>
        <li> <a id="tw" class="fa fa-reddit-alien" href="https://www.reddit.com/submit?text=Check this website&url=movie ka review ekdum mast he...!!" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=no,scrollbars=no,height=500,width=600');return false;"></a></li>
        <li>
          <input id="toggle-heart" type="checkbox" />
          <label for="toggle-heart" aria-label="like">❤</label>
        </li>
        <li><i class="fa fa-arrow-circle-o-right"></i></li>
      </ul>
    </div>
  </div>
  <div class="blur_back ave_back"></div>
</div>
