<br>
<br>

<div class="accordion">
  <h2 style="color: white; font-size: x-large;">CATEGORIES</h2>
  <br>

  <ul>
    <li>
      <div class="image">
        <div class="image_title">
          <a>Movies</a>
        </div>
        <div class="edit" style="font-size: 80px;"><a [routerLink]="['/movie']"><i class="fa fa-film" style="font-size: xx-large;"></i></a></div>

        <img src="https://cdn.suwalls.com/wallpapers/movies/iron-man-standing-in-the-smoke-53426-1920x1080.jpg" alt="GOG2_640x320" border="0" width="640px" height="320px">

      </div>
    </li>
    <li>
      <div class="image">
        <div class="image_title">
          <a >TV Show</a>
        </div>

        <div class="edit" style="font-size: 80px;"><a [routerLink]="['/tvshows']"><i class="fa fa-desktop" style="font-size: xx-large;"></i></a></div>
         <img src="https://hdwallsource.com/img/2020/8/the-witcher-tv-show-background-wallpaper-70103-72473-hd-wallpapers.jpg" alt="GOG2_640x320" border="0" width="640px" height="320px">

      </div>
    </li>
    <li>

      <div class="image">
        <div class="image_title">
          <a >Games</a>
        </div>
        <div class="edit" style="font-size: 80px;"><a [routerLink]="['/games']"><i class="fa fa-gamepad" style="font-size: xx-large;"></i></a></div>

        <img src="https://wallpaperaccess.com/full/370110.jpg" alt="GOG2_640x320" border="0" width="640px" height="320px">

      </div>
    </li>
    <li>
      <div class="image">
        <div class="image_title">
          <a >Anime</a>
        </div>
        <div class="edit" style="font-size: 80px;"><a [routerLink]="['/anime']"><i class="fa fa-github-alt" style="font-size: xx-large;"></i></a></div>

        <img src="https://c4.wallpaperflare.com/wallpaper/310/639/794/death-note-ryuk-anime-wallpaper-preview.jpg" alt="GOG2_640x320" border="0" width="640px" height="320px">

      </div>
    </li>
    <li>
      <div class="image">
        <div class="image_title">
          <a >Documentaries</a>
        </div>
        <div class="edit" style="font-size: 80px;"><a [routerLink]="['/documentary']"><i class="fa fa-file-video-o" style="font-size: xx-large;"></i></a></div>

        <img src="https://cdn.cnn.com/cnnnext/dam/assets/151201152016-steve-jobs-the-man-in-the-machine-background-full-169.jpg" alt="GOG2_640x320" border="0" width="640px" height="320px">
      </div>
    </li>
  </ul>
</div>
