<div class="container">


  <div class="movie-card">
    <div class="movie-header manOfSteel">
      <div class="header-icon-container">
        <a href="#">

        </a>

      </div>
    </div>
    <div class="movie-content">
      <div class="movie-content-header">
        <a [routerLink]="['/single']">
          <h3 class="movie-title">The Hobbit</h3>
        </a>
        <div class="logo"></div>
      </div>
      <div class="movie-info">
        <div class="info-section">
          <label>Release date</label>
          <span>8-Sept-2020</span>
        </div>
        <div class="info-section">
          <label>Rating</label>
          <span>7.2/10</span>
        </div>
        <div class="info-section">
          <label>Result</label>
          <span>Hit</span>
        </div>
        <div class="info-section">
          <label>view more</label>
          <span><a [routerLink]="['/movie']"><i class="fa fa-arrow-circle-o-right" style="font-size: large;" id="raju"></i></a></span>
        </div>
      </div>
    </div>
  </div>
  <div class="movie-card">
    <div class="movie-header herapheri">
      <div class="header-icon-container">
        <a href="#">

        </a>
      </div>
    </div>
    <div class="movie-content">
      <div class="movie-content-header">
        <a [routerLink]="['/single']">
          <h3 class="movie-title">Hera Pheri</h3>
        </a>
        <div class="logo"></div>
      </div>
      <div class="movie-info">
        <div class="info-section">
          <label>Release date</label>
          <span>8-Sept-2010</span>
        </div>
        <div class="info-section">
          <label>Rating</label>
          <span>10/10</span>
        </div>
        <div class="info-section">
          <label>Result</label>
          <span>Super Hit</span>
        </div>
        <div class="info-section">
          <label>view more</label>
          <span><a [routerLink]="['/movie']"><i class="fa fa-arrow-circle-o-right" style="font-size: large;" id="raju"></i></a></span>
        </div>
      </div>
    </div>
  </div>

  <div class="movie-card">
    <div class="movie-header babyDriver">
      <div class="header-icon-container">
        <a href="#">

        </a>
      </div>
    </div>
    <div class="movie-content">
      <div class="movie-content-header">
        <a [routerLink]="['/single']">
          <h3 class="movie-title">Baby Driver</h3>
        </a>
        <div class="logo"></div>
      </div>
      <div class="movie-info">
        <div class="info-section">
          <label>Release date</label>
          <span>8-Sept-2020</span>
        </div>
        <div class="info-section">
          <label>Rating</label>
          <span>7.2/10</span>
        </div>
        <div class="info-section">
          <label>Result</label>
          <span>Hit</span>
        </div>
        <div class="info-section">
          <label>view more</label>
          <span><a [routerLink]="['/movie']"><i class="fa fa-arrow-circle-o-right" style="font-size: large;" id="raju"></i></a></span>
        </div>
      </div>
    </div>
  </div>



  <div class="movie-card">
    <div class="movie-header theDarkTower">
      <div class="header-icon-container">
        <a href="#">

        </a>
      </div>
    </div><!--movie-header-->
    <div class="movie-content">
      <div class="movie-content-header">
        <a [routerLink]="['/single']">
          <h3 class="movie-title">The Dark Tower</h3>
        </a>
        <div class="logo"></div>
      </div>
      <div class="movie-info">
        <div class="info-section">
          <label>Release date</label>
          <span>8-Sept-2020</span>
        </div>
        <div class="info-section">
          <label>Rating</label>
          <span>7.2/10</span>
        </div>
        <div class="info-section">
          <label>Result</label>
          <span>Hit</span>
        </div>
        <div class="info-section">
          <label>view more</label>
          <span><a [routerLink]="['/movie']"><i class="fa fa-arrow-circle-o-right" style="font-size: large;" id="raju"></i></a></span>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="container">


  <div class="movie-card">
    <div class="movie-header friends">
      <div class="header-icon-container">
        <a href="#">

        </a>
      </div>
    </div>
    <div class="movie-content">
      <div class="movie-content-header">
        <a [routerLink]="['/single']">
          <h3 class="movie-title">F.R.I.E.N.D.S</h3>
        </a>
        <div class="logo"></div>
      </div>
      <div class="movie-info">
        <div class="info-section">
          <label>Release date</label>
          <span>8-Sept-2020</span>
        </div>
        <div class="info-section">
          <label>Rating</label>
          <span>7.2/10</span>
        </div>
        <div class="info-section">
          <label>Result</label>
          <span>Hit</span>
        </div>
        <div class="info-section">
          <label>view more</label>
          <span><a [routerLink]="['/tvshows']"><<i class="fa fa-arrow-circle-o-right" style="font-size: large;" id="raju"></i></a></span>
        </div>
      </div>
    </div>
  </div>
  <div class="movie-card">
    <div class="movie-header got">
      <div class="header-icon-container">
        <a href="#">

        </a>
      </div>
    </div>
    <div class="movie-content">
      <div class="movie-content-header">
        <a [routerLink]="['/single']">
          <h3 class="movie-title">Game Of<br> Thrones</h3>
        </a>
        <div class="logo"></div>
      </div>
      <div class="movie-info">
        <div class="info-section">
          <label>Release date</label>
          <span>8-Sept-2020</span>
        </div>
        <div class="info-section">
          <label>Rating</label>
          <span>7.2/10</span>
        </div>
        <div class="info-section">
          <label>Result</label>
          <span>Hit</span>
        </div>
        <div class="info-section">
          <label>view more</label>
          <span><a [routerLink]="['/tvshows']"><<i class="fa fa-arrow-circle-o-right" style="font-size: large;" id="raju"></i></a></span>
        </div>
      </div>
    </div>
  </div>

  <div class="movie-card">
    <div class="movie-header bb">
      <div class="header-icon-container">
        <a href="#">

        </a>
      </div>
    </div>
    <div class="movie-content">
      <div class="movie-content-header">
        <a [routerLink]="['/single']">
          <h3 class="movie-title">Breaking Bad</h3>
        </a>
        <div class="logo"></div>
      </div>
      <div class="movie-info">
        <div class="info-section">
          <label>Release date</label>
          <span>8-Sept-2020</span>
        </div>
        <div class="info-section">
          <label>Rating</label>
          <span>7.2/10</span>
        </div>
        <div class="info-section">
          <label>Result</label>
          <span>Hit</span>
        </div>
        <div class="info-section">
          <label>view more</label>
          <span><a [routerLink]="['/tvshows']"><i class="fa fa-arrow-circle-o-right" style="font-size: large;" id="raju"></i></a></span>
        </div>
      </div>
    </div>
  </div>



  <div class="movie-card">
    <div class="movie-header lucifer">
      <div class="header-icon-container">
        <a href="#">

        </a>
      </div>
    </div><!--movie-header-->
    <div class="movie-content">
      <div class="movie-content-header">
        <a [routerLink]="['/single']">
          <h3 class="movie-title">Lucifer</h3>
        </a>
        <div class="logo"></div>
      </div>
      <div class="movie-info">
        <div class="info-section">
          <label>Release date</label>
          <span>8-Sept-2020</span>
        </div>
        <div class="info-section">
          <label>Rating</label>
          <span>7.2/10</span>
        </div>
        <div class="info-section">
          <label>Result</label>
          <span>Hit</span>
        </div>
        <div class="info-section">
          <label>view more</label>
          <span><a [routerLink]="['/tvshows']"><i class="fa fa-arrow-circle-o-right" style="font-size: large;" id="raju"></i></a></span>
        </div>
      </div>
    </div>
  </div>







</div>





<div class="container">


  <div class="movie-card">
    <div class="movie-header demonslayer">
      <div class="header-icon-container">
        <a href="#">

        </a>
      </div>
    </div>
    <div class="movie-content">
      <div class="movie-content-header">
        <a [routerLink]="['/single']">
          <h3 class="movie-title">Demon Slayer</h3>
        </a>
        <div class="logo"></div>
      </div>
      <div class="movie-info">
        <div class="info-section">
          <label>Release date</label>
          <span>8-Sept-2020</span>
        </div>
        <div class="info-section">
          <label>Rating</label>
          <span>7.2/10</span>
        </div>
        <div class="info-section">
          <label>Result</label>
          <span>Hit</span>
        </div>
        <div class="info-section">
          <label>view more</label>
          <span><a [routerLink]="['/anime']"><i class="fa fa-arrow-circle-o-right" style="font-size: large;" id="raju"></i></a></span>
        </div>
      </div>
    </div>
  </div>
  <div class="movie-card">
    <div class="movie-header slime">
      <div class="header-icon-container">
        <a href="#">

        </a>
      </div>
    </div>
    <div class="movie-content">
      <div class="movie-content-header">
        <a [routerLink]="['/single']">
          <h3 class="movie-title">Sheild Hero</h3>
        </a>
        <div class="logo"></div>
      </div>
      <div class="movie-info">
        <div class="info-section">
          <label>Release date</label>
          <span>8-Sept-2020</span>
        </div>
        <div class="info-section">
          <label>Rating</label>
          <span>7.2/10</span>
        </div>
        <div class="info-section">
          <label>Result</label>
          <span>Hit</span>
        </div>
        <div class="info-section">
          <label>view more</label>
          <span><a [routerLink]="['/anime']"><i class="fa fa-arrow-circle-o-right" style="font-size: large;" id="raju"></i></a></span>
        </div>
      </div>
    </div>
  </div>

  <div class="movie-card">
    <div class="movie-header naruto">
      <div class="header-icon-container">
        <a href="#">

        </a>
      </div>
    </div>
    <div class="movie-content">
      <div class="movie-content-header">
        <a [routerLink]="['/single']">
          <h3 class="movie-title">Naruto</h3>
        </a>
        <div class="logo"></div>
      </div>
      <div class="movie-info">
        <div class="info-section">
          <label>Release date</label>
          <span>8-Sept-2020</span>
        </div>
        <div class="info-section">
          <label>Rating</label>
          <span>7.2/10</span>
        </div>
        <div class="info-section">
          <label>Result</label>
          <span>Hit</span>
        </div>
        <div class="info-section">
          <label>view more</label>
          <span><a [routerLink]="['/anime']"><i class="fa fa-arrow-circle-o-right" style="font-size: large;" id="raju"></i></a></span>
        </div>
      </div>
    </div>
  </div>



  <div class="movie-card">
    <div class="movie-header myhero">
      <div class="header-icon-container">
        <a href="#">

        </a>
      </div>
    </div><!--movie-header-->
    <div class="movie-content">
      <div class="movie-content-header">
        <a [routerLink]="['/single']">
          <h3 class="movie-title">My Hero <br>Academia</h3>
        </a>
        <div class="logo"></div>
      </div>
      <div class="movie-info">
        <div class="info-section">
          <label>Release date</label>
          <span>8-Sept-2020</span>
        </div>
        <div class="info-section">
          <label>Rating</label>
          <span>7.2/10</span>
        </div>
        <div class="info-section">
          <label>Result</label>
          <span>Hit</span>
        </div>
        <div class="info-section">
          <label>view more</label>
          <span><a [routerLink]="['/anime']"><i class="fa fa-arrow-circle-o-right" style="font-size: large;" id="raju"></i></a></span>
        </div>
      </div>
    </div>
  </div>







</div>






<div class="container">


  <div class="movie-card">
    <div class="movie-header minecraft">
      <div class="header-icon-container">
        <a href="'#">

        </a>
      </div>
    </div>
    <div class="movie-content">
      <div class="movie-content-header">
        <a [routerLink]="['/single']">
          <h3 class="movie-title">MineCraft</h3>
        </a>
        <div class="logo"></div>
      </div>
      <div class="movie-info">
        <div class="info-section">
          <label>Release date</label>
          <span>8-Sept-2020</span>
        </div>
        <div class="info-section">
          <label>Rating</label>
          <span>7.2/10</span>
        </div>
        <div class="info-section">
          <label>Result</label>
          <span>Hit</span>
        </div>
        <div class="info-section">
          <label>view more</label>
          <span><a [routerLink]="['/games']"><i class="fa fa-arrow-circle-o-right" style="font-size: large;" id="raju"></i></a></span>
        </div>
      </div>
    </div>
  </div>
  <div class="movie-card">
    <div class="movie-header fortnite">
      <div class="header-icon-container">
        <a href="#">

        </a>
      </div>
    </div>
    <div class="movie-content">
      <div class="movie-content-header">
        <a [routerLink]="['/single']">
          <h3 class="movie-title">Fortnite</h3>
        </a>
        <div class="logo"></div>
      </div>
      <div class="movie-info">
        <div class="info-section">
          <label>Release date</label>
          <span>8-Sept-2020</span>
        </div>
        <div class="info-section">
          <label>Rating</label>
          <span>7.2/10</span>
        </div>
        <div class="info-section">
          <label>Result</label>
          <span>Hit</span>
        </div>
        <div class="info-section">
          <label>view more</label>
          <span><a [routerLink]="['/games']"><i class="fa fa-arrow-circle-o-right" style="font-size: large;" id="raju"></i></a></span>
        </div>
      </div>
    </div>
  </div>

  <div class="movie-card">
    <div class="movie-header cod">
      <div class="header-icon-container">
        <a href="#">

        </a>
      </div>
    </div>
    <div class="movie-content">
      <div class="movie-content-header">
        <a [routerLink]="['/single']">
          <h3 class="movie-title">Call Of Duty</h3>
        </a>
        <div class="logo"></div>
      </div>
      <div class="movie-info">
        <div class="info-section">
          <label>Release date</label>
          <span>8-Sept-2020</span>
        </div>
        <div class="info-section">
          <label>Rating</label>
          <span>7.2/10</span>
        </div>
        <div class="info-section">
          <label>Result</label>
          <span>Hit</span>
        </div>
        <div class="info-section">
          <label>view more</label>
          <span><a [routerLink]="['/games']"><i class="fa fa-arrow-circle-o-right" style="font-size: large;" id="raju"></i></a></span>
        </div>
      </div>
    </div>
  </div>



  <div class="movie-card">
    <div class="movie-header fallguy">
      <div class="header-icon-container">
        <a href="#">

        </a>
      </div>
    </div><!--movie-header-->
    <div class="movie-content">
      <div class="movie-content-header">
        <a [routerLink]="['/single']">
          <h3 class="movie-title">Fall Guys</h3>
        </a>
        <div class="logo"></div>
      </div>
      <div class="movie-info">
        <div class="info-section">
          <label>Release date</label>
          <span>8-Sept-2020</span>
        </div>
        <div class="info-section">
          <label>Rating</label>
          <span>7.2/10</span>
        </div>
        <div class="info-section">
          <label>Result</label>
          <span>Hit</span>
        </div>
        <div class="info-section">
          <label>view more</label>
          <span><a [routerLink]="['/games']"><i class="fa fa-arrow-circle-o-right" style="font-size: large;" id="raju"></i></a></span>
        </div>
      </div>
    </div>
  </div>







</div>


<footer id="colophon" class="site-footer" role="contentinfo">
  
  <div class="social-wrapper">
    <ul>
      <h2 style="color: whitesmoke; font-size: larger; opacity: .6;
      filter: alpha(opacity=60);">Social Links</h2>
      <li>
        <a href="#" target="_blank">
          <i class="fa fa-twitter twitter-icon"></i>
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <i class="fa fa-instagram instagram-icon" ></i>
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <i class="fa fa-linkedin-square linkedin-icon" ></i>
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <i class="fa fa-facebook-square facebook-icon"></i>
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <i class="fa fa-google-plus-square googleplus-icon"></i>
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <i class="fa fa-youtube-square youtube-icon" ></i>
        </a>
      </li>
    </ul>
    </div>

   




</footer>





<router-outlet></router-outlet>







